.cart-page-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: var(--content-size);
  margin: 0 auto;
  text-align: center;
  padding: 2.5rem 0;
}
.cart-page-container > p {
  font-size: 1.75rem;
}

.cart-container-inner {
  display: flex;
  flex-direction: column;
}
.cart-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* 공통 버튼 & 체크박스 */
input[type="checkbox"] {
  accent-color: var(--color-primary);
  width: 1.125rem;
  height: 1.125rem;
}

.cart-grid {
  display: grid;
  grid-template-columns: 2rem 1fr 2rem 6rem;
  place-items: center;
  border-radius: 10px;
}

/* 헤더 바 */
.cart-header {
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 0.875rem;
  background-color: var(--color-secondary-gray);
}

/* 하단 요약 */
.cart-summary {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.875rem;
  border-radius: 10px;
  background-color: var(--color-secondary-gray);
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.summary-detail {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1rem;
}
.summary-result {
  display: flex;
  justify-content: center;
  font-weight: 700;
}

.summary-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.amount {
  font-weight: 400;
}
.amount-value {
  font-weight: 700;
}
.amount-red {
  font-weight: 400;
  color: var(--color-important);
}
.amount-red-value {
  font-size: 1.75rem;
  font-weight: 700;
}
.operator {
  aspect-ratio: 1 / 1;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 1rem;
}
.operator svg {
  width: 100%;
  height: 100%;
}

/* 하단 주문 버튼 */
.order-btn-large {
  background: var(--color-primary);
  color: white;
  border: none;
  padding: 0.875rem 5rem;
  font-size: 1.125rem;
  border-radius: 5px;
  font-weight: bold;
}

.empty-message {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}
.empty-main-message {
  font-size: 1.125rem;
  font-weight: 700;
}
.empty-sub-message {
  font-size: 0.875rem;
}

@media (min-width: 768px) {
  .cart-header {
    margin-bottom: 2rem;
  }
  .cart-summary {
    margin-top: 4rem;
    margin-bottom: 2rem;
    gap: 2rem;
  }
  .cart-grid {
    grid-template-columns: 4rem 1fr 4rem 8rem;
  }
  .amount-red-value {
    font-size: 2rem;
  }
  .operator {
    width: 1.75rem;
    height: 1.75rem;
  }
  .order-btn-large {
    align-self: center;
  }
}
@media (min-width: 1200px) {
  .cart-grid {
    grid-template-columns: 4rem 1fr 6rem 12rem;
  }
  .cart-header {
    margin-bottom: 2.25rem;
  }
  .cart-items {
    gap: 0.625rem;
  }
  .summary-detail {
    flex: 3;
  }
  .summary-result {
    flex: 1;
  }
  .amount-value {
    font-size: 1.5rem;
  }
  .operator {
    width: 2rem;
    height: 2rem;
  }
  .amount-red {
    font-size: 1.125rem;
  }
  .amount-red-value {
    font-size: 2.25rem;
  }
  .cart-summary {
    flex-direction: row;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    gap: 8rem;
  }
  .summary-box {
    gap: 0;
  }
}
