.main-banner {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary-gray);
  user-select: none;
  overflow: hidden;
}
.swiper-slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  height: 100%;
}
.swiper-button-next,
.swiper-button-prev {
  color: #333;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
}
.swiper-pagination-bullet {
  background: #ccc;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: #333;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 2rem;
}

@media (min-width: 768px) {
  .main-banner {
    height: 400px;
  }
  .product-container {
    column-gap: 2rem;
    row-gap: 4rem;
  }
}
@media (min-width: 1200px) {
  .main-banner {
    height: 500px;
  }
  .product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 4rem;
  }
}
