.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.25rem;
  margin: auto;
  padding: 2.5rem 0;
}

.logo-btn {
  display: flex;
  justify-content: center;
}

.form-tab-menu {
  width: 480px;
  padding: 1rem;
  margin: auto;
}

.form-tab-menu-btns {
  display: flex;
  width: 100%;
}
.form-tab-button {
  padding: 1rem 3.5rem;
  flex: 1;
  border: 1px solid var(--color-border-gray);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 1.125rem;
  background-color: var(--color-tab-btn-bg);
}
.active-form-tab {
  border-bottom: 0;
  background-color: var(--color-active-tab-btn-bg);
}

.form-sign-up {
  display: flex;
  flex-direction: column;
}

.form-tab-content-wrapper {
  border: 1px solid var(--color-border-gray);
  border-radius: 10px;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-tab-content {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 0.5rem;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.input-title {
  color: var(--color-gray-term);
  font-weight: 400;
}
.input-group {
  display: flex;
  gap: 0.5rem;
}
.text-input {
  border: 1px solid var(--color-border-gray);
  border-radius: 5px;
  padding: 0.75rem 0.75rem;
  font-weight: 400;
  flex: 1;
  min-width: 0;
}
.primary-btn {
  background-color: var(--color-primary);
  color: white;
  padding: 0.75rem 1.25rem;
  border-radius: 5px;
}
.select-input {
  border: 1px solid var(--color-border-gray);
  border-radius: 5px;
  flex: 1;
  min-width: 0;
  text-align: center;
}
.text-input:focus,
.select-input:focus {
  border-color: var(--color-primary);
}

.form-footer-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.terms {
  display: flex;
  align-items: start;
  justify-content: center;
  color: var(--color-gray-term);
}
.strong-link {
  font-weight: 700;
}

.disabled-btn {
  color: white;
  background-color: var(--color-btn-disabled);
  border-radius: 5px;
}

.hidden {
  display: none;
}
