<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <script type="module" defer src="/js/common/base.js"></script>
  <link rel="stylesheet" href="/styles/components/modal.css">
</head>

<body>
  <div class="modal-overlay" id="modal-cancel-confirm">
    <div class="modal-container">
      <button class="modal-close-btn">
        <svg width="34" height="34">
          <use href="/assets/icons/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <div class="modal-content"></div>
      <div class="modal-button-group">
        <button class="modal-btn modal-btn-cancel">-</button>
        <button class="modal-btn modal-btn-confirm">-</button>
      </div>
    </div>
  </div>
</body>

</html>