<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer type="module" src="/js/common/base.js"></script>
  <link rel="stylesheet" href="/styles/components/product.css" />
</head>

<body>
  <div class="product-card">
    <div class="product-img-wrapper">
      <img src="/assets/images/product1.png" alt="상품">
    </div>
    <div class="product-info">
      <div class="product-seller">우당탕탕 라이캣의 실험실</div>
      <div class="product-name">Hack Your Life 개발자 노트북 파우치</div>
      <div class="product-price">
        <span class="product-price-text">29,000</span>
        <span class="product-price-unit-text">원</span>
      </div>
    </div>
  </div>
</body>

</html>