body {
  background-color: #f2f2f2;
}

div {
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;
  align-items: stretch;
  justify-content: center;
  margin: 0.25rem;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c4c4c4;
}

.footer-top-in {
  gap: 0.25rem;
}

.footer-down {
  color: #767676;
  display: flex;
  flex-direction: column;
}

.footer-social {
  gap: 0.25rem;
}
