<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>footer</title>
  <script defer type="module" src="js/common/base.js"></script>
  <link rel="stylesheet" href="styles/footer.css" />
  <link rel="stylesheet" href="styles/base/root.css" />
</head>

<body>
  <div id="footer">
    <div class="footer">
      <div class="footer-top">
        <div class="footer-top-in">
          <!-- TODO: 링크 설정 -->
          <div class="footer-top-item"><a href="#">자두샵 소개</a></div>
          <div class="footer-top-item"><a href="#">이용약관</a></div>
          <div class="footer-top-item"><a href="#"><strong>개인정보처리방침</strong></a></div>
          <div class="footer-top-item"><a href="#">전자금융거래약관</a></div>
          <div class="footer-top-item"><a href="#">청소년보호정책</a></div>
          <div class="footer-top-item"><a href="#">제휴문의</a></div>
        </div>
        <div class="footer-social">
          <a href="#" class="social-icon instagram" aria-label="Instagram">
            <svg width="32" height="32">
              <use href="assets/icons/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
          <a href="#" class="social-icon facebook" aria-label="Facebook">
            <svg width="32" height="32">
              <use href="assets/icons/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
          <a href="#" class="social-icon youtube" aria-label="YouTube">
            <svg width="32" height="32">
              <use href="assets/icons/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="footer-down">
        <span><b>(주)ZADU SHOP</b></span>
        <span>서울특별시 반포대로3 이스트빌딩</span>
        <span>사업자 번호 : 000-0000-0000 | 통신판매업</span>
        <span>대표 : 김자두</span>
      </div>
    </div>
  </div>
</body>

</html>