#footer {
  background-color: var(--color-secondary-gray);
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3.75rem 0;
  width: var(--content-size);
  margin: 0 auto;
  font-size: 0.875rem;
}
.footer > *:not(:last-child) {
  padding-bottom: 1rem;
}
.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border-gray);
}

.footer-top-item {
  text-decoration: none;
}

.footer-top-in {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer-top-item {
  display: flex;
}

.footer-down {
  color: var(--color-secondary-gray2);
  display: flex;
  flex-direction: column;
}

.footer-social {
  display: flex;
  gap: 0.5rem;
}
.social-icon {
  aspect-ratio: 1 / 1;
  width: var(--size-footer-icon);
  height: var(--size-footer-icon);
}
.social-icon > svg {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
}

@media (min-width: 1200px) {
  .footer-top-in {
    flex-direction: row;
    gap: 0;
  }
  .footer-top-item {
    display: flex;
  }
  .footer-top-item:not(:first-child)::before {
    content: "|";
    margin: 0 1rem;
  }
}
