.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 2.5rem 1.875rem;
  border-radius: 2px;
  width: 20rem;
  position: relative;
  text-align: center;
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  aspect-ratio: 1 / 1;
  position: absolute;
  color: var(--color-secondary-gray2);
  top: 1.125rem;
  right: 1.125rem;
}
.modal-close-btn > svg {
  width: 100%;
  height: 100%;
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
.modal-content {
  margin-bottom: 1.875rem;
}
.modal-button-group {
  display: flex;
  gap: 0.625rem;
  justify-content: center;
}

.modal-btn {
  padding: 0.5rem 0;
  border-radius: 5px;
  flex: 1;
}
.modal-btn-cancel {
  background: white;
  color: var(--color-secondary-gray2);
  border: 1px solid var(--color-border-gray);
}
.modal-btn-confirm {
  background: var(--color-primary);
  color: white;
}

.quantity-amount {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quantity-picker {
  display: flex;
  justify-content: center;
  border: 1px solid var(--color-border-gray);
  border-radius: 4px;
  overflow: hidden;
  width: fit-content;
}
.quantity-picker input {
  width: 3.125rem;
  text-align: center;
  border: none;
  border-left: 1px solid var(--color-border-gray);
  border-right: 1px solid var(--color-border-gray);
}
.quantity-picker button {
  width: 2.5rem;
  height: 2.5rem;
  background: white;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  color: #666;
}
.hidden {
  display: none;
}
