:root {
  /* Colors */
  --color-primary: #21bf48;
  --color-error: #eb5757;
  --color-gray-c4: #c4c4c4;
  --color-tab-btn-bg: #f2f2f2;
  --color-active-tab-btn-bg: white;
  --color-gray-76: #767676;

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;

  /* Typography */
  --font-size-sm: 12px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
}
